<?xml version="1.0"?>
<launch>
	<!-- Include gazebo launch file -->
	<param name="/use_sim_time" value="true" />
	<node name="gazebo" pkg="gazebo" type="gazebo" args="$(find command_dispatcher)/world/testbed_2.world" respawn="false" output="screen">
	   <env name="GAZEBO_RESOURCE_PATH" value="$(find uav)/models" />
	</node>
	
	<node name="gazebo_gui" pkg="gazebo" type="gui" />

	<!-- Here it is configured which quadrotors are going to be used -->
    <arg name="uav_8/flying" value="1" />
	<arg name="uav_3/flying" value="1" />

	<!-- maximum velocity and acceleration for each quadrotor -->
	<param name="uav_8/amax" value="16" type="double" />
	<param name="uav_8/vmax" value="2" type="double" />
	<param name="uav_8/anglemax" value="90" type="double" />
	<param name="uav_8/transition_time" value="15.0" type="double" />

	<param name="uav_3/amax" value="16" type="double" />
	<param name="uav_3/vmax" value="2" type="double" />
	<param name="uav_3/anglemax" value="90" type="double" />
	<param name="uav_3/transition_time" value="15.0" type="double" />
	
	<!-- The configuration parameters are given their values -->
	<param name="uav_8/flying" value="$(arg uav_8/flying)" type="bool" />
	<param name="uav_3/flying" value="$(arg uav_3/flying)" type="bool" />


	<node name="uav_3" pkg="uav" type="uav_gazebo" args="3 1" if="$(arg uav_3/flying)"/>
	
	<!-- Path Follower Node. -->
	<node name="simple_follower3" pkg="path_follower" type="simple_follower" args="3 1.0"/>
</launch>

