<?xml version="1.0"?>
<launch>
	<!-- Include gazebo launch file -->
	<include file="$(find uav)/launch/testbed_gazebo_4_quad.launch"/>


	<!-- Here it is configured which quadrotors are going to be used -->
    <arg name="uav_8/flying" value="1" />
	<arg name="uav_3/flying" value="1" />
	<arg name="uav_5/flying" value="1" />
	<arg name="uav_6/flying" value="1" />

	  <!-- maximum velocity and acceleration for each quadrotor -->
	  <param name="uav_8/amax" value="16" type="double" />
	  <param name="uav_8/vmax" value="2" type="double" />
	  <param name="uav_8/anglemax" value="90" type="double" />
	  <param name="uav_8/transition_time" value="15.0" type="double" />

	  <param name="uav_3/amax" value="16" type="double" />
	  <param name="uav_3/vmax" value="2" type="double" />
	  <param name="uav_3/anglemax" value="90" type="double" />
	  <param name="uav_3/transition_time" value="15.0" type="double" />

	  <param name="uav_5/amax" value="16" type="double" />
	  <param name="uav_5/vmax" value="2" type="double" />
	  <param name="uav_5/anglemax" value="90" type="double" />
	  <param name="uav_5/transition_time" value="15.0" type="double" />

	  <param name="uav_6/amax" value="16" type="double" />
	  <param name="uav_6/vmax" value="2" type="double" />
	  <param name="uav_6/anglemax" value="90" type="double" />
	  <param name="uav_6/transition_time" value="15.0" type="double" />

	<!-- The configuration parameters are given their values -->
	<param name="uav_8/flying" value="$(arg uav_8/flying)" type="bool" />
	<param name="uav_3/flying" value="$(arg uav_3/flying)" type="bool" />
	<param name="uav_5/flying" value="$(arg uav_5/flying)" type="bool" />
	<param name="uav_6/flying" value="$(arg uav_6/flying)" type="bool" />

	<!-- Nodes will start if their /uav_i/flying parameter is true  -->
	<node name="uav_8" pkg="uav" type="uav_gazebo" args="8 1" if="$(arg uav_8/flying)"/>
	


	<node name="uav_3" pkg="uav" type="uav_gazebo" args="3 1" if="$(arg uav_3/flying)"/>
	
	<!-- UAV 3 INTRUDER-->

	<node name="uav_5" pkg="uav" type="uav_gazebo" args="5 1" if="$(arg uav_5/flying)">
	     <remap from="uav_5/control_references_rw" to="/path_follower_5/control_references_rw" />	
	</node>
	
	<!-- Path Follower Node. -->
	<node name="simple_follower5" pkg="path_follower" type="simple_follower" args="5 1.0">
	     <remap from="/path_follower_5/way_point_callback" to="/path_planner_5/out_waypoint" />	
	</node>
	
	<!-- Path Planner Node. -->
	<node name="path_planner_5" pkg="path_planner" type="local_planner" args="5">
	    <remap from="/path_planner_5/in_waypoint" to="/temporal_wpa_5/way_point_callback" />
	</node>

	<node name="temporal_wpa_5" pkg="temporal_wpa" type="temporal_wpa" args="5" >
		<remap from="/temporal_wpa_5/ual_state" to="/uav_5/ual_state" />	
	</node> 

	<!-- UAV 4 INTRUDER-->

	<node name="uav_6" pkg="uav" type="uav_gazebo" args="6 1" if="$(arg uav_6/flying)">
	     <remap from="uav_6/control_references_rw" to="/path_follower_6/control_references_rw" />	
	</node>
	
	<!-- Path Follower Node. -->
	<node name="simple_follower6" pkg="path_follower" type="simple_follower" args="6 1.0">
	     <remap from="/path_follower_6/way_point_callback" to="/path_planner_6/out_waypoint" />	
	</node>
	
	<!-- Path Planner Node. -->
	<node name="path_planner_6" pkg="path_planner" type="local_planner" args="6">
	    <remap from="/path_planner_6/in_waypoint" to="/temporal_wpa_6/way_point_callback" />
	</node>

	<node name="temporal_wpa_6" pkg="temporal_wpa" type="temporal_wpa" args="6" >
		<remap from="/temporal_wpa_6/ual_state" to="/uav_6/ual_state" />	
	</node> 

	
	<!-- Command Dispatcher Node -->
	<!--  <node name="prueba_test" pkg="command_dispatcher" type="prueba" args="1 2" /> -->

	 <node name="command_dispatcher5" pkg="command_dispatcher" type="cmd_dispatcher_file" args="5 $(find command_dispatcher)/waypoints/way5.conf" />

	 <node name="command_dispatcher6" pkg="command_dispatcher" type="cmd_dispatcher_file" args="6 $(find command_dispatcher)/waypoints/way6.conf" />


</launch>

