<?xml version="1.0"?>
<launch>
        <include file="$(find uav)/launch/testbed_4_texture.launch"/>

	<!-- Here it is configured which quadrotors are going to be used -->
	<arg name="uav_1/flying" value="1" />

	  <!-- maximum velocity and acceleration for each quadrotor -->
	  <param name="uav_1/amax" value="16" type="double" />
	  <param name="uav_1/vmax" value="2" type="double" />
	  <param name="uav_1/anglemax" value="90" type="double" />
	  <param name="uav_1/transition_time" value="15.0" type="double" />

	

	<!-- The configuration parameters are given their values -->
	<param name="uav_1/flying" value="$(arg uav_1/flying)" type="bool" />	



	<node name="gazebo_as_visualizer_4" pkg="gazebo_as_visualizer" type="gazebo_as_visualizer" args="4">
	</node>

	<node name="qnx_humminbir_receiver_" pkg="uav" type="qnx_hb_state_receiver" args="">
	</node>

	<!-- Nodes will start if their /uav_i/flying parameter is true  -->
	<node name="uav_4" pkg="uav" type="uav_qnx_hummingbird" args="4 1" if="$(arg uav_1/flying)">
	</node>

	
</launch>

