<robot name="eix_Z">
  <link name="eix_Z">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="0.1" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 -0.8" rpy="3.1416 3.1416 0"/>
      <geometry>
        <box size="0.01 0.01 0.2" />

      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.8" rpy="3.1416 3.1416 0"/>
      <geometry>
        <box size="0.01 0.01 0.2" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="eix_Z">
    <material>Gazebo/Blue</material>
    <turnGravityOff>true</turnGravityOff>
    <static>true</static>
  </gazebo>
</robot>