<?xml version="1.0"?>
<robot name="Orig8">
  <link name="Orig8">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="0.1" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="-0.0466668 0.00795207 -0.8249586" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0466668 0.00795207 -0.8249586" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="Orig8">
    <material>Gazebo/Blue</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
</robot>
