<?xml version="1.0"?>
<launch>
	<!-- Include gazebo launch file -->
	<include file="$(find uav)/launch/testbed_gazebo_2_quad.launch"/>


	<!-- Here it is configured which quadrotors are going to be used -->
	<arg name="uav_1/flying" value="1" />
	<arg name="uav_2/flying" value="1" />

	  <!-- maximum velocity and acceleration for each quadrotor -->
	  <param name="uav_1/amax" value="16" type="double" />
	  <param name="uav_1/vmax" value="2" type="double" />
	  <param name="uav_1/anglemax" value="90" type="double" />
	  <param name="uav_1/transition_time" value="15.0" type="double" />

	  <param name="uav_2/amax" value="16" type="double" />
	  <param name="uav_2/vmax" value="2" type="double" />
	  <param name="uav_2/anglemax" value="90" type="double" />
	  <param name="uav_2/transition_time" value="15.0" type="double" />


	<!-- The configuration parameters are given their values -->
	<param name="uav_1/flying" value="$(arg uav_1/flying)" type="bool" />
	<param name="uav_2/flying" value="$(arg uav_2/flying)" type="bool" />

	<!-- Nodes will start if their /uav_i/flying parameter is true  -->
	<node name="uav_1" pkg="uav" type="uav_gazebo" args="1 1" if="$(arg uav_1/flying)">
	     <remap from="uav_1/control_references_rw" to="/path_follower_1/control_references_rw" />	
	</node>
	
	<!-- Path Follower Node. -->
	<node name="simple_follower1" pkg="path_follower" type="simple_follower" args="1 1.0">
	     <remap from="/path_follower_1/way_point_callback" to="/prueba_test/out_waypoint_1" />	
	</node>


	<node name="uav_2" pkg="uav" type="uav_gazebo" args="2 1" if="$(arg uav_1/flying)">
	     <remap from="uav_2/control_references_rw" to="/path_follower_2/control_references_rw" />	
	</node>
	
	<!-- Path Follower Node. -->
	<node name="simple_follower2" pkg="path_follower" type="simple_follower" args="2 1.0">
	     <remap from="/path_follower_2/way_point_callback" to="/prueba_test/out_waypoint_2" />	
	</node>
	

	
	<!-- Command Dispatcher Node -->
	<!--  <node name="prueba_test" pkg="command_dispatcher" type="prueba" args="1 2" /> -->

	
<!-- 	<node name="rviz" pkg="rviz" type="rviz" args="">
	</node> -->

</launch>

