<?xml version="1.0"?>

<launch>
<node name="rviz1" pkg="rviz" type="rviz" args="--display-config $(find matlab)/matlabrviz.vcg"/>

<!-- node name="stlcollision" pkg="matlab" type="stl-collision" args="_rate_x:=0.03 _rate_y:=0.03 _rate_z:=0.03 _side:=0.0 _input:=$(find matlab)/meshes/torus.stl _output:=o.f"/ -->


<!-- node name="stlcollision" pkg="matlab" type="stl-collision" args="_rate_x:=0.05 _rate_y:=0.05 _rate_z:=0.1 _side:=0.3 _input:=$(find matlab)/meshes/lander2.stl _output:=o.f"/ -->


<!-- node name="stlcollision" pkg="matlab" type="stl-collision" args="_rate_x:=0.005 _rate_y:=0.005 _rate_z:=0.01 _side:=0.01 _input:=$(find matlab)/meshes/quadrotor_base2.stl _output:=o.f"/ -->


<node name="stlcollision" pkg="matlab" type="stl-collision" args="_rate_x:=1.3 _rate_y:=1.3 _rate_z:=1.5 _side:=0.0 _input:=$(find matlab)/meshes/120m_landscape.stl _output:=land.f"/>

<!-- node name="stlcollision" pkg="matlab" type="stl-collision" args="_rate_x:=1.3 _rate_y:=1.3 _rate_z:=1.5 _side:=0.0 _input:=$(find matlab)/meshes/lander2.stl _output:=d.f"/ -->

  
</launch>
