<?xml version="1.0"?>
<launch>
	<!-- Include gazebo launch file -->
	<include file="$(find uav)/launch/testbed_gazebo_1_quad.launch"/>


	<!-- Here it is configured which quadrotors are going to be used -->
	<arg name="uav_1/flying" value="1" />

	  <!-- maximum velocity and acceleration for each quadrotor -->
	  <param name="uav_1/amax" value="16" type="double" />
	  <param name="uav_1/vmax" value="2" type="double" />
	  <param name="uav_1/anglemax" value="90" type="double" />
	  <param name="uav_1/transition_time" value="15.0" type="double" />


	<!-- The configuration parameters are given their values -->
	<param name="uav_1/flying" value="$(arg uav_1/flying)" type="bool" />

	<!-- Nodes will start if their /uav_i/flying parameter is true  -->
	<node name="uav_1" pkg="uav" type="uav_gazebo" args="1 1" if="$(arg uav_1/flying)">
	     <remap from="uav_1/control_references_rw" to="/path_follower_1/control_references_rw" />	
	</node>
	
	<!-- Target detection 
	<node name="target_detection" pkg="target_detection" type="target_detection" args="1" />-->
	
	<!-- Path Follower Node. -->
	<node name="simple_follower1" pkg="path_follower" type="simple_follower" args="1 1.0">
	     <remap from="/path_follower_1/way_point_callback" to="/temporal_wpa_1/way_point_callback" />	
	</node>

	<!-- Temporal Go To Way Point Node. -->
	<node name="temporal_wpa" pkg="temporal_wpa" type="temporal_wpa" args="1" >
		<remap from="/temporal_wpa_1/ual_state" to="/uav_1/ual_state" />	
	</node>
	
	<!-- Command Dispatcher Node -->
	<!-- Don't start, we want to see command dispatcher stdout in terminal.We need to start in another terminal. -->
	<!-- <node name="command_dispatcher" pkg="command_dispatcher" type="cmd_dispatcher" args="1" /> -->
	
	

</launch>

